<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
	<!-- Base Resettle Command -->
	<BaseResettle>Resettle</BaseResettle>
	<BaseResettleDesc>Resettle into this abandoned colony base, it may be left in ruins after being left unmaintained for some time, or inhabited by pirates. Beware.</BaseResettleDesc>
	
	<!-- Persistent Worlds Core -->
	<PersistentWorlds>Persistent Worlds</PersistentWorlds>
	<ConfirmConversion-PersistentWorlds>Are you sure you want to convert this world to a persistent world? There is no going back, and may be incompatible with some mods. This action will also overwrite any saves with the same name as the world name, this can be checked through the World tab in the save by clicking a tile and clicking the Planet tab in the bottom-left corner of your screen. You have been warned.</ConfirmConversion-PersistentWorlds>
	<ConvertingWorld-PersistentWorlds>Converting world to persistent world</ConvertingWorld-PersistentWorlds>
	<ConversionComplete-PersistentWorlds>Conversion for world {0} is complete. The persistent world will now be saved as {0}.rws and can be loaded through the Persistent Worlds menu.</ConversionComplete-PersistentWorlds>
	<ErrorLoadWrongMenu-PersistentWorlds>Please load {0} through the Persistent Worlds menu. This is a warning to ensure you do not corrupt your persistent world by improper loading of the world.</ErrorLoadWrongMenu-PersistentWorlds>
	<Convert>Convert</Convert>
	<DeleteColony-PersistentWorlds>Delete this colony permanently. It will disappear from the world map without any trace.</DeleteColony-PersistentWorlds>
	<Delete-PersistentWorlds>Delete persistent world.</Delete-PersistentWorlds>
	<Load-PersistentWorlds>Load World</Load-PersistentWorlds>
	<BackToMenu>Back to Menu</BackToMenu>
	
	<!-- Persistent Worlds - Loading -->
	<LoadingPersistentWorld>Loading persistent world</LoadingPersistentWorld>
	<LoadingColonies>Loading colonies</LoadingColonies>
	<LoadingColony>Loading colony</LoadingColony>
	<LoadingMaps>Loading maps</LoadingMaps>
</LanguageData>